{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}

    <a href="{{ path('home') }}" class="btn btn-primary fixed-btn"><span>Home</span></a>

    <div class="cards-bg">
        {% for project in projects %}
        
        {% if loop.index%2 == 0 %}
                    <a href="{{ path('home_show', {'id': project.id}) }}">
        <div class="card card-project right mb-5">
            <div class="card-body row">
            <img class="card-img-top col-md-3 col-12 project-pic" src="{{ project.picture }}" alt="{{ project.name }}">
                <h3 class="col-md-3 mt-5 col-12">{{ project.name }}</h3>
                <p class="card-text mt-5 col-md-3 col-12">started on: {{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</p>
                <p class="col-md-3 mt-5 col-12">ended on: {{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</p>
            </div>
        </div>
        </a>
        {% else %}
        <a href="{{ path('home_show', {'id': project.id}) }}">
        <div class="card card-project left mb-5">
            <div class="card-body row">
            <img class="card-img-top col-md-3 col-12 project-pic" src="{{ project.picture }}" alt="{{ project.name }}">
                <h3 class="col-md-3 mt-5 col-12">{{ project.name }}</h3>
                <p class="card-text mt-5 col-md-3 col-12">started on: {{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</p>
                <p class="col-md-3 mt-5 col-12">ended on: {{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</p>
            </div>
        </div>
        </a>
        {% endif %}
        {% else %}
                <p>no records found</p>
        {% endfor %}
    </div>

    {% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}