{% extends 'base.html.twig' %}

{% block body %}
<h1>Your profile</h1>
<h3>{{ user.username }}</h3>
<p>Description: {{ user.description }} </p>
<p>{{ user.picture }}</p>
<p>phone: {{ user.phone}} </p>
<p>mail: {{ user.mail }}</p>
<p>address: {{ user.address }}</p>
<a href="{{ path('admin_edit', {'id': user.id}) }}">edit</a>
{% endblock %}